<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="holisApp">

<head>
  <!-- META -->
  <meta property="og:image" content="http://holis-market.at/images/logo/fb.jpg"><!-- facebook preview for sharing -->
  <meta property="og:site_name" content="holis market"><!-- facebook preview for sharing -->
  <meta property="og:title" content="Der Markt mit Mehrwert"><!-- facebook preview for sharing -->
  <meta property="og:url" content="http://holis-market.at"><!-- facebook preview for sharing -->
  <meta property="fb:admins" content="797534040275046"><!-- facebook preview for sharing -->
  <meta property="og:type" content="article"><!-- facebook preview for sharing -->
  <meta property="article:publisher" content="https://www.facebook.com/HolisMarket"><!-- facebook preview for sharing -->
  <meta name="description" content="Der holis market ist der On- und Offline-Marktplatz für gesunde und biologische Lebensmittel ohne Verpackung und Verschwendung, sowie für deine individuelle Ernährung.">
  <meta name="robots" content="index">
  <meta charset="UTF-8">
  <!-- TITLE -->
  <title>holis market</title>

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/lightbox.css"  />
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/metro-bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/toastr.min.css" />
  
  <!-- WEB FONTS (ICONS) -->
  <link rel="stylesheet" type="text/css" media="screen" href="./fonts/icons/css/font-awesome.min.css" />
  
  <!-- GOOGLE ANALYTICS -->
  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-53949357-1', 'auto');
	ga('send', 'pageview');
  </script>
  
  <!--<base href="/" /> show only if update via FTP to server -->
  
</head>

<!-- define angular controller -->
<body>
	<div id="fb-root"></div>
	<div id="page-container">
    <div id="header">
		<div ng-if="startpage" id="startpage-logo-container">
			<a href="#">
				<img src="./images/logo/dark.png" alt="holis market [logo]"/>
			</a>
		</div>
		<div ng-if="!startpage" class="group">
			<div class="navbar">
			  <ul>
				<li>
				  <a id="nav-we" href="#team">Wir</a>
				  <ul>
					<li class="first-child"><a href="#team">Team</a></li>
					<!--<li><a href="#partner">Partner</a></li>-->
					<li><a href="#idea">Idee</a></li>
					<!--<li><a href="#vision">Vision</a></li>-->
					<!--<li><a href="#way">Weg</a></li>-->
					<li><a href="#faq">Blöde Fragen</a></li>
				  </ul>
				</li>
				<li>
				  <a id="nav-offer" href="#12or3">bieten</a>
				  <ul>
					<li><a href="#12or3">1,2 oder 3</a></li>
					<!--<li><a href="#services">Services</a></li>-->
				  </ul>
				</li>
				<li>
				  <a id="nav-special" href="#holispedia">Besonderes</a>
				  <ul>
					<li><a href="#holispedia">holispedia</a></li>
					<!--<li><a href="#box">holis Box</a></li>-->
				  </ul>
				</li>
				<li>
				  <a id="nav-join" href="#testimonials">mach mit!</a>
				  <ul>
					<!--<li><a href="#myholis">Mein holis</a></li>-->
					<li><a href="#testimonials">Testimonials</a></li>
					<li><a href="#jobs">Jobs</a></li>
					<li><a href="#supplier">Partner</a></li>
				  </ul>
				</li>
			  </ul>
			</div>
			<div id="navbar-logo-container">
				<a href="#">
					<img src="./images/logo/dark.png" alt="holis market [logo]"/>
				</a>
			</div>
		</div>
		<div style="clear:both;"></div>
    </div>
    <div id="content-container">
      <!-- angular templating -->
      <!-- this is where content will be injected -->
      <div ng-view></div>
    </div>
    <div id="footer">
      <div class="links group">
        <ul>
          <li>
            <div class="bold">Wir</div>
            <ul>
              <li><a href="#team">Team</a></li>
			  <!--<li><a href="#partner">Partner</a></li>-->
              <li><a href="#idea">Idee</a></li>
              <!--<li><a href="#vision">Vision</a></li>-->
              <!--<li><a href="#way">Weg</a></li>-->
			  <li><a href="#faq">Blöde Fragen</a></li>
            </ul>
          </li>
          <li>
            <div class="bold">bieten</div>
            <ul>
			  <li><a href="#12or3">1,2 oder 3</a></li>
              <!--<li><a href="#services">services</a></li>-->
            </ul>
          </li>
          <li>
            <div class="bold">Besonderes</div>
            <ul>
              <li><a href="#holispedia">holispedia</a></li>
			  <!--<li><a href="#box">holis box</a></li>-->
            </ul>
          </li>
          <li>
            <div class="bold">mach mit!</div>
            <ul>
              <!--<li><a href="#myholis">mein holis</a></li>-->
              <li><a href="#testimonials">Testimonials</a></li>
			   <li><a href="#jobs">Jobs</a></li>
              <li><a href="#supplier">Partner</a></li>
            </ul>
          </li>
          <li>
            <div class="bold">Sitemap</div>
            <ul>
              <li><a href="#news">News</a></li>
              <!--<li><a href="#contact">Kontakt</a></li>-->
              <!--<li><a href="#imprint">Impressum</a></li>-->
            </ul>
          </li>
        </ul>
      </div>
      <div class="social">
        <a class="link fg-green bold" href="https://www.facebook.com/HolisMarket" target="_blank">facebook</a>
      </div>
      <div id="copyright" class="bold">
        &copy; 2014 by holis
      </div>
    </div>
  </div>
  
    <!-- SCRIPT FILES -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
  <script src="./js/jquery.easing-1.3.min.js"></script>
  <script src="./js/jquery-ui.min.onlywidget.js"></script>
  <script src="./js/jquery.collapse.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./js/lightbox.min.js"></script>
  <script src="./js/jq.carousel.js"></script>
  <script src="./js/toastr.min.js"></script>
  <script src="./js/custom.js"></script>
</body>
</html>