/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for component styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */



/*** LISTS ***/
ul.list {
  .xl;
  list-style-image: url('../images/icon/bubble-black.png');
  margin-left: 20px;
}
ul.list-green {
  list-style-image: url('../images/icon/bubble-green.png');
}
ul.list-orange {
  list-style-image: url('../images/icon/bubble-orange.png');
}
ul.list-yellow {
  list-style-image: url('../images/icon/bubble-yellow.png');
}
ul.list li {
  padding-bottom: 4px;
  line-height: 1.2em;
}

/*** TABLES ***/
table.table td {
  line-height: 1.3em;
}

/*** QUOTES ***/
blockquote {
  .italic;
  .block;
  .xl;
  font-family: Georgia, serif;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  position: relative;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: -8px;
  top: 18px;
  color: #7a7a7a;
}
blockquote cite {
  .m;
  color: #999999;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}

/*** ARROWS ***/
.arrows {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -99999px;
}
.arrow-left {
  .arrows;
  background: url('../images/icon/arrow-grey-left-small.png') 0 0;
}
.arrow-left:hover {
  background-position: bottom;
}
.arrow-right {
  .arrows;
  background: url('../images/icon/arrow-grey-right-small.png') 0 0;
}
.arrow-right:hover {
  background-position: bottom;
}

/*** EXPANDER ***/
.expander-header {
  .fg-greyheadline;
  border-bottom: 1px solid @cGreyLight;
  line-height: 28px;
  margin-top: 10px;
  padding-bottom: 5px;
}
.expander-header:hover {
  .fg-green;
  border-bottom: 1px solid @cGreen;
}
.expander-content {
  padding-top: 15px;
  padding-bottom: 10px;
}

/*** MEMBER BUBBLE PIC ***/
.member-pic-large .member-pic {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.member-pic-medium .member-pic {
  margin: 10px;
}
.member-pic-small .member-pic {
  margin: 5px;
}
.member-pic-large .member-image {
  position: relative;
  width: 260px;
  height: 260px;
}
.member-pic-medium .member-image {
  position: relative;
  width: 180px;
  height: 180px;
}
.member-pic-small .member-image {
  position: relative;
  width: 100px;
  height: 100px;
}
.member-image img {
  max-width: 100%;
  max-height: 100%;
}
.member-pic-large .member-image:hover:after, .member-pic-medium .member-image:hover:after{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0,0,0,0.4);
}
.member-pic-small .member-image:hover:after {}
.member-pic-large .member-caption {
  .hide;
  .center;
  width: 260px;
  margin-top: -160px;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}
.member-pic-medium .member-caption {
  .hide;
  .center;
  width: 180px;
  margin-top: -110px;
  position: absolute;
  z-index: 10;
}
.member-pic-large .member-title {
  .bold;
  .xxxxl;
  line-height: 1em;
}
.member-pic-medium .member-title {
  .bold;
  .xxxl;
  line-height: 1em;
}
.member-pic-small .member-title {
  .hide;
}
.member-pic-large .member-subtitle {
  .fg-white;
  .uppercase;
  .xxl;
  line-height: 1em;
}
.member-pic-medium .member-subtitle {
  .fg-white;
  .uppercase;
  .xl;
  line-height: 1em;
}
.member-pic-small .member-subtitle {
  .hide;
}

/*** METRO TILES ***/
.metro .tile {
  .fleft;
  .block;
  position: relative;
  overflow: hidden;
  margin: 0 10px 10px 0;
  padding: 0;
}
.metro .unlocked:hover {
  .c-pointer;
  .outline;
}
.metro .tile:active {
  outline: 0;
}
.metro .tile {
  width: 180px;
  height: 180px;
  margin: 0 20px 20px 0;
}
.metro .tile.half {
  width: 55px;
  height: 55px;
}
.metro .tile.double {
  width: 380px;
}
.metro .tile.double-vertical {
  height: 250px;
}
.metro .tile.triple {
  width: 380px;
}
.metro .tile.triple-vertical {
  height: 380px;
}
.metro .tile.quadro {
  width: 510px;
}
.metro .tile.quadro-vertical {
  height: 510px;
}
.metro .tile.selected {
  border: 4px #4390df solid;
}
.metro .tile.selected:after {
  position: absolute;
  display: block;
  border-top: 28px solid #4390df;
  border-left: 28px solid transparent;
  right: 0;
  content: "";
  top: 0;
  z-index: 101;
}
.metro .tile .newsletter {
  .left;
  padding: 10px;
  padding-top: 20px;
}
.metro .tile .header {
  .center;
  .bold;
  .serif; 
  margin-top: 65px;
}
.metro .tile .subtitle {
  .opacity;
  .bg-black;
  .fg-white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 29px;
  margin: 0;
  padding-top: 5px; 
}
.metro .tile .subtitle:hover {
  .opacity-no;
}
/*** BUTTONS ***/
.button {
  .c-pointer;
  .bold;
  .center;
  .rounded;
  .xl;
  color: @cWhite;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button:hover {
  .outline;
}

/*** FORM ***/
.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-label {
  .bold;
  .fg-grey;
  .s;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.form-divider {
  color: @cWhite !important;
  background-color: @cWhite !important;
  height: 5px !important;
  border: none !important;
  margin: 15px 0 !important;
}
.form-space {
  margin-right: 2px;
}
.form-space-double {
  margin-right: 4px;
}
.form-infobox {
  .italic;
  .fg-greydark;
  .right;
  .fullwidth;
  .m;
}

/*** INPUT ***/
.metro input[type="button"],
.metro input[type="submit"],
.metro input[type="reset"] {
  .button;
  vertical-align: middle !important;
  border: 1px transparent solid;
  display: inline-block;
  outline: none;
  margin: auto;
}
.metro input[type="button"]:hover,
.metro input[type="submit"]:hover,
.metro input[type="reset"]:hover {
  .outline;
}
.metro .input-control {
  .c-pointer;
  .bg-white;
  display: inline-block;
  position: relative;
  outline: 0;
  height: 38px;
  width: 100%;
}
.metro .input {
  .c-pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  width: 100%;
}
.metro .input-control input {
  .xl;
  border: 1px solid @cGrey;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
  -webkit-appearance: none;
}
.metro .input textarea {
  .xl;
  border: 1px solid @cGrey;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
  -webkit-appearance: none;
}
.metro .input-control input:hover {
  outline: 0;
  border: 1px solid @cGreen;
}
.metro .input-control input:focus {
  outline: 0;
  border: 1px solid @cGreen;
  box-shadow: 0px 0px 10px @cGreen;
}
.metro .input textarea:hover {
  outline: 0;
  border: 1px solid @cGreen;
}
.metro .input textarea:focus {
  outline: 0;
  border: 1px solid @cGreen;
  box-shadow: 0px 0px 10px @cGreen;
}

/*** ON/OFF SWITCH - Source: http://proto.io/freebies/onoff/ ***/
.onoffswitch { 
  position: relative;
  width: 90px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  .c-pointer;
  display: block;
  overflow: hidden;
  border: 1px solid @cGrey;
  border-radius: 5px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  .fleft;
  .fg-white;
  .bold;
  .xl;
  line-height: 40px;
  display: block; 
  width: 50%;
  height: 38px;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  .bg-green;
  .fg-white;
  content: "JA";
  padding-left: 10px;
}
.onoffswitch-inner:after {
  .bg-greylight;
  .fg-grey;
  .right;
  content: "NEIN";
  padding-right: 10px;
}
.onoffswitch-switch {
  .bg-white;
  display: block;
  width: 24px;
  margin: 7px;
  border: 1px solid @cGrey;
  border-radius: 5px;
  position: absolute;
  top: 0; bottom: 0; right: 48px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*** LINKS ***/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.link {
  text-decoration: none;
}
a.link:hover {
  border-bottom: 1px dotted @cGreen;
}

/*** COUNTDOWN ***/
.countdown-container {
  height: 130px;
 }
.countdown-container .time {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 95px;
    perspective: 500px;
    position: relative;
    text-align: center;
    width: 65px;
}
.countdown-container .flip .count.curr.top {
    transform: rotateX(-90deg);
    transition: all 250ms ease-in-out 0s;
}
.countdown-container .count.curr.top {
    transform: rotateX(0deg);
    z-index: 3;
}
.countdown-container .count.top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 50%;
    transform-origin: 50% 100% 0;
}
.countdown-container .count {
    background: none repeat scroll 0 0 #202020;
    color: #f8f8f8;
    display: block;
    font-family: "Oswald",sans-serif;
    font-size: 38px;
    line-height: 95px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    transform: translateZ(0px);
    transform-style: flat;
    width: 100%;
}
.countdown-container .flip .count.next.bottom {
    transform: rotateX(0deg);
    transition: all 250ms ease-in-out 250ms;
}
.countdown-container .count.next.bottom {
    transform: rotateX(90deg);
    z-index: 2;
}
.countdown-container .count.bottom {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #000;
    height: 50%;
    line-height: 0;
    top: 50%;
    transform-origin: 50% 0 0;
}
.countdown-container .label {
    display: block;
    margin-top: 5px;
    position: absolute;
    top: 95px;
    width: 100%;
}


