/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for component styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */

/*** BUTTONS ***/
.button {
  .c-pointer;
  .fg-white;
  .bold;
  .center;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
.button:hover {
  box-shadow: 2px 2px 1px @cBlack;
}

/*** LINKS ***/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.link {
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
