/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for component styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


/*** ARROWS ***/
.arrows {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -99999px;
}
.arrow-left {
  .arrows;
  background: url('../images/icon/arrow-grey-left-small.png') 0 0;
}
.arrow-left:hover {
  background-position: bottom;
}
.arrow-right {
  .arrows;
  background: url('../images/icon/arrow-grey-right-small.png') 0 0;
}
.arrow-right:hover {
  background-position: bottom;
}
  
/*** BUTTONS ***/
.button {
  .c-pointer;
  .fg-white;
  .bold;
  .center;
  .rounded;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.button:hover {
  .shadow;
}

/*** LINKS ***/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.link {
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}


