/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for helper styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


/*** CLEAR FIX - http://css-tricks.com/snippets/css/clear-fix ***/
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/*** ALIGNMENT ***/
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.center-div {  margin: 0 auto; }
.fleft { float:left; }
.fright { float:right; }	
.clear { clear: both;}

/*** CURSOR ***/
.c-pointer{ cursor: pointer; }
.c-normal{ cursor: default; }

/*** WIDTH & HEIGHT ***/
.fullwidth { width: 100%; }
.halfwidth { width: 50%; }

/*** DISPLAY ***/
.hide { display: none; }
.show {  display: inline; }
.block { display: block; }

/*** OTHER GLOBAL SETTINGS ***/
/*.shadow { box-shadow: 2px 2px 1px @cBlack; }*/
.outline { outline: @cGreyLight solid 2px; }
.rounded {  border-radius: 0px; }

