/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for layouting
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


/*** HEADER ***/
#header {
  margin: 10px 0;
}
/* http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu */
#header .navbar {
  .fleft;
  padding-top: 50px;
}
#header .navbar ul {
  list-style: none;
  position: relative;
  display: inline-table;
  z-index: 100;
}
#header .navbar ul ul:hover {
  .shadow;
}
#header .navbar ul li {
  .fleft;
}
#header .navbar ul li a {
  .xxl;
  color: @cBlack;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
}
#header .navbar ul li #nav-we:hover {
  .fg-yellow;
}
#header .navbar ul li #nav-offer:hover {
  .fg-orange;
}
#header .navbar ul li #nav-special:hover {
  .fg-green;
}
#header .navbar ul li #nav-join:hover {
  color: #000000;
}
#header .navbar ul ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 100%;
}
#header .navbar ul ul li {
  .bg-white;
  float: none;
  position: relative;
  margin-top: -20px;
  margin-right: -10px;
  margin-bottom: -20px;
  margin-left: -10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#header .navbar ul ul li a {
  color: @cGrey;
  font-size: 1.2em;
}
#header .navbar ul ul li a:hover {
  color: @cGreyDark;
}
#header .navbar ul ul :first-child {
  margin-top: -5px;
  padding-top: 10px;
}
#header .navbar ul li:hover > ul {
  display: block;
}
#navbar-logo-container{
  .fright;
  margin-bottom: 20px;
}
#navbar-logo-container img{
  width: 200px;
}
#startpage-logo-container img{
  width: 240px;
  display: block;
  margin: 25px auto;
}

/*** CONTENT ***/
#page-container{
  width: @page-width;
  margin-left: auto;
  margin-right: auto;
}
#content-container{}
.content-header {
  .center;
  .bg-greymain;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-line {
  height: 5px;
}
.content-line-black {
  .content-line;
  background: url('../images/bg/trennlinie_welle_black_up.png');
}
.content-line-grey {
  .content-line;
  background: url('../images/bg/trennlinie_welle_hellgrau_up.png');
} 
.content-line-yellow {
  .content-line;
  background: url('../images/bg/trennlinie_welle_gelb_up.png');
} 
.content-line-orange {
  .content-line;
  background: url('../images/bg/trennlinie_welle_orange_up.png');
}
.content-line-green {
  .content-line;
  background: url('../images/bg/trennlinie_welle_gruen_up.png');
}
.content-line-black-down {
  .content-line;
  background: url('../images/bg/trennlinie_welle_black_down.png');
}
.content-line-grey-down {
  .content-line;
  background: url('../images/bg/trennlinie_welle_hellgrau_down.png');
} 
.content-line-yellow-down {
  .content-line;
  background: url('../images/bg/trennlinie_welle_gelb_down.png');
} 
.content-line-orange-down {
  .content-line;
  background: url('../images/bg/trennlinie_welle_orange_down.png');
}
.content-line-green-down {
  .content-line;
  background: url('../images/bg/trennlinie_welle_gruen_down.png');
}
.content-desc {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.content-desc-arrow {
  .bg-greymain;
  .center;
}
.content-breadcrumb {
  .bg-greymain;
}
.content-main {
  .bg-greymain;
  .center;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

/*** FOOTER ***/
.footer-startpage {
  margin-left: 80px;
  margin-right: 100px;
}
#footer {
  .bg-black;
  .fg-grey;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 40px;
}
#footer{
    *{
        line-height: 126%;
    }
    .links > ul > li{
        width: 33%;
        float: left;
        a {
			.l;
            color: @cGrey;
            text-decoration: none;
        }
    }
    .social{
        margin-top: 10px;
        margin-bottom: 3px;
    }
}
#footer .footer-header {
  .xxl;
  margin-bottom: 15px;
  border-bottom: 1px solid @cGreyDark;
}
#footer .footer-left a:hover {
  .fg-green;
}
#footer .footer-middle a:hover {
  .fg-orange;
}
#footer .footer-right a:hover {
  .fg-yellow;
}
#footer .circle {
  .center;
  .xxl;
  margin-top: 10px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius:20px;
  color: @cWhite;
  background: @cGrey;
  padding-top: 2px;
}
#footer .circle:hover {
  .bg-yellow;
}
#copyright {
  .bg-black;
  .fg-grey;
  .center;
  .s;
  padding-top: 20px;
  padding-bottom: 5px;
}
