/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for component styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


/*** NEWS PAGE ***/
.news {
  width: 400px;
  .left;
}
.news-section {
  .bold;
  margin-top: 5px;
  margin-bottom: 20px;
}
.news-header {
  .h5;
  .serif;
  margin-bottom: 20px;
}
.news-subheader {
  .h6;
  .serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-subsection {
  margin-bottom: 25px;
}
.news-summary {
  .bold;
}

/*** HOME PAGE ***/
.home-mission {
  margin-left: 80px;
  margin-right: 100px;
}
.home-mission h1 {
  .fg-black;
  .block;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 5px;
}
.home-mission-header {
  .bg-green;
  .fg-white;
  .bold;
  .center;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 4px;
  width: 160px;
  line-height: 1em;
}
.home-mission-header:hover {
  .outline;
}
.home-blog {
  margin-left: 80px;
  margin-right: 100px;
}
.home-tiles {
  .center;
  margin-left: 80px;
  margin-right: 80px;
}
.tiles .tile-newsletter-header {
  .fg-white;
  margin-bottom: 20px;
}
.tile-content-image {
  display: block;
  width: 180px;
  height: 180px;
  text-indent: -99999px;
}
.tile-content-image-idea {
  .tile-content-image;
  background: url('../images/tiles/tile-idea-hover.jpg') 0 0;
}
.tile-content-image-idea:hover { background-position: bottom; }
.tile-content-image-supplier {
  .tile-content-image;
  background: url('../images/tiles/tile-supplier-hover.jpg') 0 0;
}
.tile-content-image-supplier:hover { background-position: bottom; }
.tile-content-image-jobs {
  .tile-content-image;
  background: url('../images/tiles/tile-jobs-hover.jpg') 0 0;
}
.tile-content-image-jobs:hover { background-position: bottom; }
.tile-content-image-team {
  .tile-content-image;
  background: url('../images/tiles/tile-team-hover.jpg') 0 0;
}
.tile-content-image-team:hover { background-position: bottom; }
.tile-content-image-testimonial:hover {
  .tile-content-image;
  background: url('../images/live-tiles/live-hover.jpg');
}
.tile-content-image-testimonial img {
  width: 180px;
  height: 180px;
}

/*** PRODUCTS PAGE ***/
.products {
  width: 220px;
  padding: 10px;
  margin-left: 22px;
  margin-right: 22px;
}
.products-img {
  .center;
  background: url('../images/bg/circle-white.png');
  width: 200px;
  height: 200px;
}
.products-title {
  .bold;
  .serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.products-subtext {}

/*** HOLISPEDIA PAGE ***/
.holispedia {
  width: 240px;
  padding-left: 20px;
  padding-right: 20px;
}
.holispedia-arrow {
  width: 40px;
  padding-top: 180px;
  img {
    cursor: pointer;
  }
}
.holispedia-img {
  .center;
  background: url('../images/bg/circle-white.png');
  width: 200px;
  height: 200px;
}
.holispedia-title {
  .bold;
  .serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.holispedia-subtext {}

.holispedia-carousel{
  width: 720px;
  margin-left: 40px;
}

/*** IDEA PAGE ***/
.idea {
  .center;
  padding-left: 60px;
  padding-right: 60px;
}
.idea-image {
  width: 200px;
}
.idea-text {
  .left;
  width: 430px;
}
.idea-img {
  .center;
  background: url('../images/bg/circle-white.png');
  width: 200px;
  height: 200px;
}
.idea-title {
  .bold;
  .serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*** MEMBER PAGE ***/
.member-desc {
  .bg-white;
  border: 1px solid @cGreyLight;
  width: 450px;
  padding: 40px;
}
.member-desc-name {}
.member-desc-role {
  margin-bottom: 20px;
}
.member-desc-mail {}
.member-desc-phone {
  margin-bottom: 20px;
}
.member-desc-loc {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-motto {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-task {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-why {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-holis {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-career {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-hobbies {
  margin-top: 5px;
  margin-bottom: 10px;
}
.member-desc-link {
  margin-top: 30px;
}

/*** THANKYOU PAGE ***/
.thanku-pnl {
  .center;
  .bg-white;
  border: 1px solid @cGrey;
  box-shadow: 0px 0px 5px @cGrey;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}
.thanku-buttons {
  .center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 40px;
}
.thanku-headline {
  .bold;
  .fg-grey;
  .fg-green;
  font-size: 36px;
  padding-bottom: 40px;
}
.thanku-subtext {
  padding-left: 100px;
  padding-right: 100px;
}

/*** HOLISVERSUM PAGE ***/
.holisversum-filter {
  .bg-greymain;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.holisversum-size {
  .center;
  .bg-greymain;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}
.holisversum-size-active {
  opacity: 0.6;
}
.holisversum-size-inactive {
  .c-pointer;
  opacity: 0.2;
}
.holisversum-size #size-small {
  background: url('../images/icon/icon-chicken.png');
  margin-right: 20px;
  width: 22px;
  height: 24px;
}
.holisversum-size #size-small:hover {
  background: url('../images/icon/icon-chicken-hover.png');
  opacity: 1.0;
}
.holisversum-size #size-medium {
  background: url('../images/icon/icon-sheep.png');
  margin-right: 20px;
  width: 46px;
  height: 34px;
}
.holisversum-size #size-medium:hover {
  background: url('../images/icon/icon-sheep-hover.png');
  opacity: 1.0;
}
.holisversum-size #size-large {
  background: url('../images/icon/icon-cow.png');
  width: 70px;
  height: 50px;
}
.holisversum-size #size-large:hover {
  background: url('../images/icon/icon-cow-hover.png');
  opacity: 1.0;
}

