/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for component styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */

/*** HOME PAGE ***/
.tiles {
  .center;
  margin-left: 80px;
  margin-right: 80px;
}
.tiles .tile-newsletter-header {
  .fg-white;
  margin-bottom: 20px;
}

/*** TESTIMONIAL PAGE ***/
.holispedia {
  width: 220px;
  height: 400px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.holispedia-arrow {
  width: 40px;
  padding-top: 180px;
}
.holispedia-img {
  .center;
  background: url('../images/bg/circle-white.png');
  width: 200px;
  height: 200px;
}
.holispedia-title {
  .bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.holispedia-subtext {}

/*** TEAM PAGE ***/
.team-pic {
  width: 260px;
  margin: 20px;
}
.team-desc {
  .bg-white;
  border: 1px solid @cGreyLight;
  width: 450px;
  padding: 40px;
  margin-top: 20px;
}
.team-desc-name {
  margin-bottom: 5px;
}
.team-desc-role {
  margin-bottom: 10px;
}
.team-desc-mail {}
.team-desc-phone {
  margin-bottom: 20px;
}
.team-desc-motto {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-task {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-why {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-holis {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-career {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-hobbies {
  margin-top: 5px;
  margin-bottom: 10px;
}
.team-desc-link {
  margin-top: 30px;
}
.team-navi {
  .center-div;
  width: 30%;
  margin-top:20px;
}
.member {
  display: block;
  width: 260px;
  height: 260px;
  text-indent: -99999px;
}
.member-belinda {
  .member;
  background: url('../images/pic/belinda-small-hover.png') 0 0;
}
.member-belinda-single {
  .member;
  .c-normal;
  background: url('../images/pic/belinda-small-hover.png') 0 0;
}
.member-sarah {
  .member;
  background: url('../images/pic/sarah-small-hover.png') 0 0;
}
.member-sarah-single {
  .member;
  .c-normal;
  background: url('../images/pic/sarah-small-hover.png') 0 0;
}
.member-bernhard {
  .member;
  background: url('../images/pic/bernhard-small-hover.png') 0 0;
}
.member-bernhard-single {
  .member;
  .c-normal;
  background: url('../images/pic/bernhard-small-hover.png') 0 0;
}
.member-franz {
  .member;
  background: url('../images/pic/franz-small-hover.png') 0 0;
}
.member-franz-single {
  .member;
  .c-normal;
  background: url('../images/pic/franz-small-hover.png') 0 0;
}
.member-sabrina {
  .member;
  background: url('../images/pic/sabrina-small-hover.png') 0 0;
}
.member-sabrina-single {
  .member;
  .c-normal;
  background: url('../images/pic/sabrina-small-hover.png') 0 0;
}
.member-sonja {
  .member;
  background: url('../images/pic/sonja-small-hover.png') 0 0;
}
.member-sonja-single {
  .member;
  .c-normal;
  background: url('../images/pic/sonja-small.png') 0 0;
}
.member-belinda:hover { background-position: bottom; }
.member-sonja:hover { background-position: bottom;}
.member-sabrina:hover { background-position: bottom;}
.member-franz:hover { background-position: bottom; }
.member-bernhard:hover { background-position: bottom; }
.member-sarah:hover { background-position: bottom; }

/*** TESTIMONIAL PAGE ***/
.testimonial-pic {
  width: 260px;
  margin: 20px;
}
.testimonial-pic img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  display: block;
}
.testimonial-pic img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0);
}
.testimonial-desc {
  .bg-white;
  border: 1px solid @cGreyLight;
  width: 450px;
  padding: 40px;
  margin-top: 20px;
}
.testimonial-desc-name {
  margin-bottom: 5px;
}
.testimonial-desc-role {
  margin-bottom: 20px;
}
.testimonial-desc-loc {
  margin-top: 5px;
  margin-bottom: 10px;
}
.testimonial-desc-holis {
  margin-top: 5px;
  margin-bottom: 10px;
}
.testimonial-desc-career {
  margin-top: 5px;
  margin-bottom: 10px;
}
.testimonial-desc-link {
  margin-top: 30px;
}
.testimonial-navi {
  .center-div;
  width: 30%;
  margin-top:20px;
}
.testimonial {
  display: block;
  width: 260px;
  height: 260px;
  text-indent: -99999px;
}
.testimonial-arzberger { .testimonial; background: url('../images/pic/testimonials/arzberger-small-hover.png') 0 0; }
.testimonial-brandstaetter { .testimonial; background: url('../images/pic/testimonials/brandstaetter-small-hover.png') 0 0; }
.testimonial-leplay{ .testimonial; background: url('../images/pic/testimonials/leplay-small-hover.png') 0 0; }

.testimonial-arzberger:hover { background-position: bottom; }
.testimonial-brandstaetter:hover { background-position: bottom; }
.testimonial-leplay:hover { background-position: bottom; }



