/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for typo styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


/*** FONT SIZES***/
.s {
  font-size: 0.8em;
  line-height: 1em;
}
.m {
  font-size: 0.9em;
  line-height: 1.2em;
}
.l {
  font-size: 1em;
  line-height: 1.2em;
}
.xl {
  font-size: 1.2em;
  line-height: 1.4em;
}
.xxl {
  font-size: 1.6em;
  line-height: 1.6em;
}
.xxxl {
  font-size: 2.2em;
  line-height: 2em;
}
.xxxxl {
  font-size: 2.6em;
  line-height: 2em;
}


/*** GENERAL SETTINGS ***/
* {
  .sans;
}
body {
  .fg-black;
  .bg-white;
  .xl;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
}
p {
  .block;
  .xl;
}

/*** STYLING ***/
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.boldOrange {
  .fg-orange;
  .bold;
}
.boldGreen {
  .fg-green;
  .bold;
}
.boldYellow {
  .fg-yellow;
  .bold;
}
.italic {
  font-style: italic;
}

/*** HEADINGS ***/
.h1 { /* Seitenüberschrift */
  .fg-greyheadline;
  .sans;
  .bold;
  .xxxl;
}
h1 { .h1; }

.h2 { /* Inhaltsüberschrift */
  .fg-greyheadline;
  .sans;
  .bold;
  .xxl;
  padding-top: 5px;
  padding-bottom: 5px;
}
h2 { .h2; }

.h3 { /* Unterüberschrift */
  .fg-black;
  .sans;
  .bold;
  .xl;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 { .h3; }

.h4 { /* Bildunterschrift */
  .fg-black;
  .bold;
  .l;
  padding-bottom: 3px;
}
h4 { .h4; }

.h5 { /* Untertitel */
  .fg-black;
  .sans;
  .italic;
  .m;
  padding-bottom: 2px;
}
h5 { .h5; }
	
.h6 { /* noch nicht definiert */
}
h6 { .h6; }