/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for typo styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


* {
  .font-copy;
}
body {
  .fg-black;
  .bg-white;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
.boldOrange {
  .fg-orange;
  .bold;
}
.boldGreen {
  .fg-green;
  .bold;
}
.boldYellow {
  .fg-yellow;
  .bold;
}
.italic {
  font-style: italic;
}
.h1 {
  .fg-greyheadline;
  .font-copy;
  .bold;
  font-size: 36px;
}
h1 { .h1; }

.h5 {
  .fg-black;
  .font-copy;
  .bold;
  font-size: 18px;
}
h5 { .h5; }
.h6 {
  .fg-black;
  .font-copy;
  .italic;
  font-size: 14px;
}
h6 { .h6; }

h2,h3,h4 {
  .fg-black;
  .font-copy;
  font-weight: normal;
  font-style: normal;
}

.size-xxl {}
.size-xl {}
.size-l {}
.size-m {}
.size-s {}
.size-xs {}




	