/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for typo styles
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */


* {
  font-family: 'Corbel', sans-serif;
}
body {
  .fg-black;
  .bg-white;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
}
.h1 {
  .fg-greyheadline;
  .font-copy;
  font-size: 36px;
  font-weight: bold;
}
h1 { .h1; }

h2,h3,h4,h5,h6 {
  .fg-black;
  .font-copy;
  font-weight: normal;
  font-style: normal;
}


.bold{
  font-weight: bold;
}
.boldOrange {
  .fg-orange;
  .bold;
}
.boldGreen {
  .fg-green;
  .bold;
}
.boldYellow {
  .fg-yellow;
  .bold;
}

	