/* -----------------------------------------------------------------
company:		holis-market
contact:		holis@holis-market.at
description:	stylesheet for variables
author:			franz seher (franz@holis-market.at)
url:			http://holis-market.at
------------------------------------------------------------------ */

/*** FONTS ***/
@font-face {
    font-family: 'Corbel';
    src: url('./fonts/corbel.ttf') format('truetype')
}
@font-face {
    font-family: 'CorbelItalic';
    src: url('./fonts/corbeli.ttf') format('truetype')
}
@font-face {
    font-family: 'CorbelBold';
    src: url('./fonts/corbelb.ttf') format('truetype')
}
@font-face {
    font-family: 'Typewriter';
    src: url('./fonts/american_typewriter.ttf') format('truetype')
}

/*** COLORS ***/
@cBlack: #333333;
@cWhite: #ffffff;

@cOrange: #ea5e13; 
@cYellow: #e6c513;
@cGreen: #7bbb31;

@cGrey: #b3b3b3;
@cGreyLight: #d7d7d7;
@cGreyDark: #585858;

.fg-black { color: @cBlack; }
.fg-white { color: @cWhite; }

.fg-orange { color: @cOrange; }
.fg-yellow { color: @cYellow; }
.fg-green { color: @cGreen; }

.fg-grey { color: @cGrey; }
.fg-greylight{ color: @cGreyLight; }
.fg-greydark { color: @cGreyDark; }

.bg-black { background-color: @cBlack; }
.bg-white { background-color: @cWhite; }

.bg-orange { background-color: @cOrange; }
.bg-yellow { background-color: @cYellow; }
.bg-green { background-color: @cGreen; }

.bg-grey { background-color: @cGrey; }
.bg-greylight { background-color: @cGreyLight; }
.bg-greydark { background-color: @cGreyDark; }

/*** DIMENSIONS ***/
@page-width: 960px;

